{% extends 'base.html' %}

{% block title %} Company Update Profile{% endblock %}

{% block content %}

<!-- Update Company Form -->
        <div class="card shadow">
            <div class="card-body p-4">
                <h5 class="mb-4">Update Company Info</h5>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Company Name</label>
                        <input type="text"
                               name="name"
                               class="form-control"
                               value="{{ company.name }}" />
                               
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Website</label>
                        <input type="url"
                               name="website"
                               class="form-control"
                               value="{{ company.website }}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea name="description"
                                  class="form-control"
                                  rows="3">{{ company.description }}</textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Company Logo</label>
                        <input type="file"
                               name="logo"
                               class="form-control"
                               accept="image/*">
                    </div>

                    <!-- Location — baad mein add karenge -->
                     <div class="mb-3">
                        <label class="form-label">Location</label>
                        <input type="text"
                               name="location"
                               class="form-control"
                               value="{{ company.location }}">
                    </div> 
                    <!-- Company Size — baad mein add karenge -->
                     <div class="mb-3">
                        <label class="form-label">Company Size</label>
                      <select name="company_size" class="form-select">
    <option value="1-10" {% if company.company_size == "1-10" %}selected{% endif %}>1-10</option>
    <option value="11-50" {% if company.company_size == "11-50" %}selected{% endif %}>11-50</option>
    <option value="51-200" {% if company.company_size == "51-200" %}selected{% endif %}>51-200</option>
    <option value="200+" {% if company.company_size == "200+" %}selected{% endif %}>200+</option>
</select>
                    </div> 

                    <!-- Industry — baad mein add karenge -->
                    <div class="mb-3">
                        <label class="form-label">Industry</label>
                       <select name="industry" class="form-select">
    <option value="technology" {% if company.industry == "technology" %}selected{% endif %}>Technology</option>
    <option value="finance" {% if company.industry == "finance" %}selected{% endif %}>Finance</option>
    <option value="healthcare" {% if company.industry == "healthcare" %}selected{% endif %}>HealthCare</option>
    <option value="education" {% if company.industry == "education" %}selected{% endif %}>Education</option>
    <option value="ecommerce" {% if company.industry == "ecommerce" %}selected{% endif %}>E-Commerce</option>
    <option value="manufacturing" {% if company.industry == "manufacturing" %}selected{% endif %}>Manufacturing</option>
    <option value="consulting" {% if company.industry == "consulting" %}selected{% endif %}>Consulting</option>
    <option value="other" {% if company.industry == "other" %}selected{% endif %}>Other</option>
</select>
                  
                    </div> 

                    <button type="submit" class="btn btn-success w-100">
                        Save 
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}

