{% extends 'base.html' %}
{% load static %}
{% block title %}Company Profile{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/company_profile.css' %}">

<div class="profile-wrapper">

    <div class="profile-card">

        <!-- HEADER -->
        <div class="profile-header">

            <div class="logo-box">
                {% if request.user.company.logo %}
                    <img src="{{ request.user.company.logo.url }}" alt="logo">
                {% else %}
                    <div class="logo-fallback">
                        {{ request.user.company.name|first|upper }}
                    </div>
                {% endif %}
            </div>

            <div class="company-info">
                <h2>{{ request.user.company.name }}</h2>
                <p>{{ request.user.email }}</p>

                {% if request.user.company.website %}
                    <a href="{{ request.user.company.website }}" target="_blank" class="website-btn">
                        Visit Website
                    </a>
                {% endif %}

                <span class="badge">Company</span>
            </div>

            <div class="actions">
                <a href="{% url 'company_update_profile' %}" class="edit-btn">Edit Profile</a>
            </div>

        </div>

        <!-- DESCRIPTION -->
        {% if request.user.company.description %}
        <div class="section">
            <h3>About Company</h3>
            <p>{{ request.user.company.description }}</p>
        </div>
        {% endif %}

        <!-- STATS -->
        <div class="stats-grid">

            <div class="stat-box">
                <h3>{{ company.total_jobs }}</h3>
                <p>Total Jobs</p>
            </div>

            <div class="stat-box">
                <h3>{{ company.approved_jobs_count }}</h3>
                <p>Approved Jobs</p>
            </div>

            <div class="stat-box">
                <h3>{{ company.location|default:"N/A" }}</h3>
                <p>Location</p>
            </div>

        </div>

        <!-- ACTIONS -->
        <div class="bottom-actions">

            <a href="{% url 'my_posts' %}" class="btn secondary">
                My Posts
            </a>

            <a href="{% url 'job_create' %}" class="btn primary">
                + Post Job
            </a>

        </div>

    </div>
</div>

{% endblock %}