{% extends 'base.html' %}
<!--Base templates inherite-->

{% block title %}
Register-JobBoard
{% endblock %}

{% block content %}
<div class="row justify-content-center"> <!--centering form bootstrap row-->

<div class="col-md-6">
    <div class="card shadow">
        <div class="card-body p-4">
            <h2 class="text-center mb-4">
                Create Account
            </h2>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                    <label class="form-lable">
                        {{ field.label}}
                    </label>
                    {{ field}}
                    {% if field.errors %}
                    <div class="text-danger small">
                        {{field.errors.0}}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary w-100">
                    Register
                </button>
            </form>
            <p class="text-center mt-3">
                    <!-- Login link section -->

                    Already have an account?

                    <a href="{% url 'login' %}">
                        Login here
                    </a>
                    <!-- Login page ka URL -->

                </p>
        </div>
    </div>
</div>

</div>
{% endblock %}